.product-card {
    width: calc(163px + (226 - 163) * ((100vw - 350px) / (500 - 350)));
    height: calc(326px + (452 - 326) * ((100vw - 350px) / (500 - 350)));
    max-width: 226px;
    max-height: 452px;
    border-radius: calc(5px + (10 - 5) * ((100vw - 350px) / (500 - 350)));
    border: 1px solid #aaa7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-header {
    width: 100%;
    aspect-ratio: 1.2;
    padding: 30px;
    border-bottom: 1px solid #aaa7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-header:hover .product-img:nth-child(1) {
    opacity: 0;
}

.product-header:hover .product-img:nth-child(2) {
    opacity: 1;
}

.product-img:nth-child(1) {
    opacity: 1;
}

.product-img:nth-child(2) {
    opacity: 0;
}

.product-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    transition: opacity 500ms ease
}

.product-tittle{
    padding: 16px;
    text-align: center;
}

.product-name {
    font-weight: 500;
    grid-column: span 2;
}

.product-body {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
}

.product-price-container {
    display: grid;
    gap: 3px;
}

.product-price-label {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 5px;
}

.product-price-number {
    font-weight: 500;
    transform: translateX(10px);
}

.product-price-number::before {
   content: 'USD';
   margin-right: 6px;
}

.product-btn {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    justify-self: end;
    background-color: #f85555;
    color: white;
    transition: filter 100ms ease;
 }

 .product-btn:hover {
    filter: brightness(1.3);
 }
 
 .product-btn i {
    font-size: 1.5rem;
 }

 @media screen and (min-width: 500px) {
    .product-card { border-radius: 10px; }
}